body {
  background: white;
}

.slider {
  height: 100vh;
}

.box {
  height: 100vh;
  text-align: center;
  padding: 100px 0;
}

.box h1 {
	color: #fff;
}

.blue {
  background: #2F63B8;
}

.yellow {
  background: yellow;
}

.pink {
  background: pink;
}

.gray {
	background: #272A32;
}

.slide1 {
	background: url(../../img/stock1.jpg);
	background-size: cover;
}